<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Blog Post</title>
</head>
<body>
    <h1>Edit Character</h1>


    <form action="{{ url_for('edit_character', id=character.id) }}" method="POST">

        {% for attribute, value in character.items() %}

            <label for="{{ attribute }}">{{ attribute|title }}:</label>
            <input type="text" id="{{ attribute }}" name="{{ attribute }}" value="{{ value }}"><br>

        {% endfor %}
        <input type="submit" value="Update">
    </form>



</body>
</html>